@charset "UTF-8"
*{box-sizing: border-box;}
body {
  font-family: sans-serif;
  margin: 20px;
}

header, footer {
  background-color: #f0f0f0;
  padding: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
}